<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Consulta de CNPJ</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app">
		<!-- Botão do histórico de consultas -->
		<a href="javascript:void(0)" @click="getHistory" v-if="localStorage.history" class="history">
			<span>Histórico de consultas</span>
		</a>

		<!-- Formulário -->
		<form @submit="sendCnpj" onsubmit="return false">
			<input class="search" type="text" id="cnpj" minlength="14" maxlength="18">
			<button class="search" type="submit">Realizar consulta</button>
		</form>

		<!-- Bloco de informações da empresa -->
		<div class="grid">
			<div class="block" v-for="item in Object.keys(response)">
				<div class="title">
					<p style="font-family: monospace;">{{ filter(item) }}</p>
				</div>
				<div class="content">
					<p style="font-family: monospace;">{{ response[item] }}</p>
				</div>
			</div>
		</div>

		<!-- Bloco de histórico -->
		<div class="grid">
			<a href="javascript:void(0)" @click="loadFromHistory(item)" class="block history_block" v-for="item in Object.keys(history)">
				<div class="title">
					<p style="font-family: monospace;">{{ filter(item) }}</p>
				</div>
				<div class="content">
					<p style="font-family: monospace;">{{ history[item] }}</p>
				</div>
			</a>
		</div>

	<br>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="script.js"></script>
</body>
</html>