* {
	margin: 0;
	padding: 0;
}
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
	-webkit-box-shadow: 0 0 0 30px #ffbdff inset !important;
}
#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.block {
	background: #e5cfea;
	border-radius: 8px;
}
.title {
	background: #f1f1f1;
	box-sizing: border-box;
	padding: 8px;
	text-align: center;
}
.content {
	background: #e5cfea;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 5px;
	text-align: center;
}
form {
	margin: 10px 0;
	display: flex;
	background: #e0bbef;
	border-radius: 6px;
}
.grid {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.grid + .grid {
	margin-top: 10px;
}
.search {
	padding: 8px;
	border: none;
	outline: none;
}input.search {
	border-radius: 6px 20px 20px 6px;
	background: #ffebff;
	transition: 0.2s;
}input.search:hover {
	transform: translateX(-10px);
}

button.search {
	color: #3f1d50;
	cursor: pointer;
	background: #e0bbef;
	border-radius: 6px;
	transition: 0.2s;
}button.search:hover {
	transform: translateX(10px);
}

.history {
	color: black;
	text-decoration: none;
	padding: 10px;
	font-family: monospace;
	background: #ffebff;
	border-radius: 5px;
	margin-top: 5px;
}

.history_block {
	text-decoration: none; color: black;
	transition: 0.2s;
}
.history_block:hover {
	transform: scale(1.1);
}